// Place all the styles related to the notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

html body {
  background-color:#EEF0F4;
  padding-left:2em;
  padding-right:2em;
  font-family: Helvetica, Arial;
}

table tr th,
tbody tr td {
  background-color: white;
}

table tr th {
  background-color: #F8F8F8;
}

.delete_button {
  color:red;
}

#notifications_table {
  border: solid thin gray;
  border-bottom: none;
}
