// Place all the styles related to the notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  margin-left:1em;
  margin-top:1em;
}

table tr th,
tbody tr td {
  padding-right:2em;
}
